<form>
  <mat-form-field>
    <mat-label>ID</mat-label>
    <input name="filterKey" [(ngModel)]="filterKey" matInput placeholder="Pikachu" value="">
  </mat-form-field>
</form>

<select [(ngModel)]="choice">
  <option *ngFor="let p of pokemons | filterPokemon: filterKey" [ngValue]="p">{{ p.name }}</option>
</select>

<button (click)="go()">GO !</button>

<!-- FIXME: This shouldn't be shown -->
<div *ngIf="choice?.info" [ngModel]="choice?.info">
  Abilities:
  <ul>
    <li *ngFor="let ability of choice?.info.abilities">
      {{ ability.ability.name }}
    </li>
  </ul>

  <!-- {{ JSON.stringify(choice?.info) }} -->
</div>
