<form [formGroup]="pokemonForm">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      name="filterKey"
      matInput
      placeholder="Pikachu"
      formControlName="filterKey">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pokemon</mat-label>
    <mat-select
        name="selected-pokemon"
        formControlName="choice"
        select
        required>
      <mat-option
        *ngFor="let p of (pokemons$ | async) || [] | filterPokemon: filterKeyCtl.value"
        [value]="p" >
        {{ p.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-button
    [disabled]="choiceCtl.value == undefined"
    type="button"
    (click)="updateInfoSubscription()">
      GO !
  </button>

</form>

<app-pokeinfo [info]="pokemonInfo$ | async" />
